{% load static %}

<!DOCTYPE html>
<link rel="stylesheet" href="{% static "css/main.css" %}" />
<h1 align = "center">Student Signup Page</h1>
<div align="right"><h2><a href = "{% url 'project_management:logout' %}"> Log out </a></h2></div>
{% if data %}
<h3 align="center">{{data}}<h3>
{% endif %}
<form action="{% url 'project_management:createstudent' %}" method="post">
{% csrf_token %}
Username(Roll Number):
<input required type="text" name="username" value="" />
<br>
Password:
<input required type="password" name="password" value="" /><br>
<input type="submit" value="Create user" />
</form>
