{% load static %}

<!DOCTYPE html>
<link rel="stylesheet" href="{% static "css/main.css" %}" />
<h1 align = "center">Ranged Student Signup Page</h1>
{% if data %}
<h3 align="center">{{data}}<h3>
{% endif %}
<form action="{% url 'project_management:createstudentranged' %}" method="post">
{% csrf_token %}
Username(Starting position):
<input required type="text" name="start" value="" />
<br>
Username(Ending position):
<input required type="text" name="end" value="" /><br>
<input type="submit" value="Create users" />
</form>
