{% load static %}

<!DOCTYPE html>
<link rel="stylesheet" href="{% static "css/main.css" %}" />
<h1 align="center"> Update Interests </h1>
<div align="right"><h2><a href = "{% url 'project_management:logout' %}"> Log out </a></h2></div>
{% if data %}
<h3 align="center">{{data}}</h3>
{% endif %}
<br>Interests : <br>
{% if data1 %}
{% for i in data1 %}
{{i}}
<br>
{% endfor %}
<hr><br>
{% endif %}
<form action="{% url 'project_management:updatedinterests' %}" method="post">
{% csrf_token %}
Add Interest:
<input required type="text" name="interest" value="" />
<br>
<input type="submit" value="Submit" />
</form>